body {
  background-color: #fff;
}

.nav-item {
  font-size: 14px;
  font-weight: 400;
  color: black;
}

.registerbtn {
  font-weight: 700;
  padding: 8px 12px;
  background-color: #5cb85f;
  color: #fff;
  border-radius: 2px;
  width: 81px;
  height: 36px;
  align-self: center;
  border: none;
}

.sewabtn {
  font-size: 14px;
  font-weight: 700;
  padding: 8px 12px;
  background-color: #5cb85f;
  color: white;
  border-radius: 2px;
  border: none;
}

#hero {
  background-color: #f1f3ff;
}

#hero h1 {
  font-weight: 700;
  line-height: 54px;
  padding-bottom: 16px;
}

#hero p {
  line-height: 20px;
  width: 490px;
  padding-bottom: 8px;
}

.img-hero {
  position: absolute;
  bottom: 0;
  right: -291px;
}

.sewabtn {
  font-size: 14px;
  font-weight: 700;
  padding: 8px 12px;
  background-color: #5cb85f;
  color: white;
  border-radius: 2px;
  border: none;
}
/* END OF HERO */

.svc-container h1 {
  font-size: 24px;
  width: 468px;
  margin-bottom: 24px;
  font-weight: 700;
}

.svc-container p {
  font-size: 14px;
  width: 468px;
}

.svc-container img {
  margin-right: 10px;
}

.svc-container li {
  list-style: none;
  margin-bottom: 17px;
}

.svc-img-2 {
  display: none;
}

/* END OF SVC */

.card {
  border: 1px solid #d0d0d0;
  box-sizing: border-box;
  border-radius: 8px;
}

.card-tittle {
  font-size: 16px;
  font-weight: 700;
}

.card-text {
  font-size: 14px;
  width: 220px;
}

/* END OF CARD */

#testimonial {
  padding-top: 10px;
}

#testimonial h1 {
  font-size: 24px;
  font-weight: 700;
}

.item .card {
  height: 270px;
  width: 619px;
  background-color: #f1f3ff;
  border-radius: 8px;
}

.card-content-bintang {
  width: 16px;
}

.testimonial-p {
  font-weight: 300;
  width: 415px;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  padding-top: 8px;
}

.card-body {
  padding-left: 0px;
}

.testimonial-img {
  margin-left: 50px;
  max-width: 80px;
  max-height: 80px;
  object-fit: contain;
}

.carousel-control-next {
  position: absolute;
  right: 530px;
  top: 300px;
}

.carousel-control-prev {
  position: absolute;
  left: 530px;
  top: 300px;
}

.owl-carousel .nav-btn {
  height: 47px;
  position: absolute;
  width: 32px;
  cursor: pointer;
  top: 290px;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.2;
}

.owl-carousel .prev-slide {
  background: url(/img/btn\ kiri.png) no-repeat scroll 0 0;
  left: 610px;
}

.owl-carousel .next-slide {
  background: url(/img/btn\ kanan.png) no-repeat scroll 0px 0px;
}

.owl-carousel .prev-slide:hover {
  background: url(/img/btn\ hover\ kiri.png) no-repeat scroll 0 0;
  left: 610px;
}

.owl-carousel .next-slide:hover {
  background: url(/img/btn\ hover\ kanan.png) no-repeat scroll 0px 0px;
}
/* END OF CAROUSEL */

#section-cta {
  height: 400px;
}

#section-cta h1 {
  color: white;
}

#section-cta p {
  color: white;
}

.cta-card {
  width: 100%;
  height: 326px;
  background-color: #0d28a6;
  border-radius: 13px;
}

.cta-card h1 {
  font-size: 36px;
  font-weight: 700;
}

.cta-card p {
  font-size: 14px;
  font-weight: 300;
  width: 468px;
}

/* END OF CTA */

#section-faq {
  height: 344px;
}

#section-faq h1 {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
}

#section-faq p {
  font-size: 14px;
}

#section-faq .accordion-item {
  border: 1px solid #d4d4d4;
  border-radius: 4px;
}

/* END OF FAQ */

#section-footer {
  height: 300px;
  padding-top: 130px;
}

#section-footer p {
  margin-bottom: 20px;
}

#section-footer .link-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 0px;
  padding-left: 50px;
}

.sosmed-footer {
  padding-left: 0px;
}

.contact-footer p {
  font-size: 14px;
  font-weight: 300;
}

.link-footer a {
  margin-bottom: 12px;
  text-decoration: none;
  color: #000;
  font-weight: 400;
}

.sosmed-img-footer img {
  margin-right: 16px;
}

/* END OF FOOTER */
/* MEDIA QUERIES */

@media (max-width: 991.98px) {
  .img-hero {
    position: absolute;
    bottom: 0;
    right: -50px;
  }
  .owl-carousel .prev-slide {
    display: none;
  }
  .owl-carousel .next-slide {
    display: none;
  }
  .copyright-footer {
    margin: 0px;
  }
  .link-footer {
    margin: 0px;
  }
  .contact-footer {
    padding-left: 0px;
  }
  .card-text {
    width: 700px;
  }

  .testimonial-p {
    width: 400px;
  }
}

@media (max-width: 820px) {
  .img-hero {
    position: absolute;
    bottom: 0;
    right: -50px;
  }
  .owl-carousel .prev-slide {
    display: none;
  }
  .owl-carousel .next-slide {
    display: none;
  }
  .copyright-footer {
    margin: 0px;
  }
  .link-footer {
    margin: 0px;
  }
  .contact-footer {
    padding-left: 0px;
  }
  .card-text {
    width: 700px;
  }
  .testimonial-p {
    width: 400px;
  }

  #ourservices h1 {
    text-align: center;
    padding-left: 130px;
    width: 600px;
    line-height: 40px;
  }

  #ourservices p {
    text-align: center;
    padding-left: 130px;
    width: 600px;
    line-height: 23px;
  }

  #ourservices ul li {
    padding-top: 10px;
    padding-left: 200px;
  }

  #section-whyus h1 {
    text-align: center;
    padding-bottom: 5px;
  }

  #section-whyus .whyus-p {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .img-hero {
    position: absolute;
    bottom: 0;
    right: -30px;
  }

@media (max-width: 575.98px) {
  .img-hero {
    position: absolute;
    bottom: 0;
    right: 1px;
  }

  #hero h1 {
    text-align: center;
  }

  #hero p {
    width: 100%;
    line-height: 30px;
    text-align: center;
  }

  #hero button {
    margin-left: 30%;
  }

  #ourservices {
    width: 100%;
  }

  #ourservices h1 {
    width: 100%;
    text-align: center;
  }

  #ourservices p {
    width: 100%;
    text-align: center;
  }

  #ourservices .svc-img {
    width: 100%;
  }

  .card-text {
    width: 100%;
  }

  #section-whyus h1 {
    text-align: center;
  }

  #section-whyus .whyus-p {
    text-align: center;
  }

  .owl-carousel .prev-slide {
    display: none;
  }
  .owl-carousel .next-slide {
    display: none;
  }
  .copyright-footer {
    margin: 0px !important;
  }
  .link-footer {
    margin: 0px !important;
  }
  .contact-footer {
    padding-left: 0px !important;
  }
  .testi-card {
    width: 10px;
  }

  .testimonial-p {
    font-weight: 300;
    width: 470px;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    padding-top: 8px;
    padding-left: 150px;
    text-align: center;
  }

  .testimonial-name {
    padding-left: 250px;
  }

  .card-body {
    padding-left: 0px;
    padding-top: 0;
  }

  .testimonial-img {
    padding-top: 10px;
    margin-left: 270px;
    max-width: 80px;
    max-height: 80px;
    object-fit: contain;
  }
  .card-content-bintang {
    margin-top: 10px;
    margin-left: 270px;
  }

  .section-p {
    position: absolute;
    left: -50px;
  }

  .section-btn {
    position: relative;
    bottom: -80px;
  }

  #section-cta .cta-card p {
    width: 70%;
    left: 60px;
  }

  #section-cta .cta-h1 {
    margin-top: 0px !important;
  }

  #section-footer .copyright-footer {
    padding-left: 30px !important;
  }

  #section-footer .copyright-footer p {
    margin-bottom: 10px;
  }

  #section-footer .logo-footer {
    margin-bottom: 10px;
  }

  #section-footer .link-footer {
    padding-left: 30px !important;
  }
  #section-footer .contact-footer {
    padding-left: 30px !important;
  }

  #section-footer .sosmed-footer {
    padding-left: 30px !important;
  }

  #section-footer .sosmed-footer p {
    margin-bottom: 10px;
  }
  #section-footer .sosmed-img-footer {
    margin-bottom: 10px;
  }

  #section-footer .container {
    padding-top: 150px !important;
  }

  .item .card {
    width: 250px !important;
  }

  .card-content-bintang {
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 153px;
  }
  
  .testimonial-p {
    font-weight: 300;
    width: auto;
    font-size: 11px;
    line-height: 20px;
    padding-left: 20px;
  }

  .testimonial-name {
    font-weight: 400;
    width: auto;
    font-size: 12px;
    line-height: 20px;
    padding-left: 70px;
  }
  
  .card-body {
    padding-left: 0px;
  }
  
  .testimonial-img {
    margin-left: 85px;
    max-width: 80px;
    max-height: 80px;
    object-fit: contain;
  }

#section-faq h1 {
  text-align: center;
}

.faq-p {
  text-align: center;
}
}

@media (max-width: 540px) {
  #ourservices h1 {
    text-align: center;
    padding-left: 100px;
    width: 440px;
    line-height: 40px;
  }

  #ourservices p {
    text-align: center;
    padding-left: 100px;
    width: 440px;
    line-height: 23px;
  }

  #ourservices ul li {
    padding-top: 10px;
    padding-left: 105px;
  }

  #ourservices .svc-img {
    display: none;
    margin-left: 0px !important;
    padding-left: 0px !important;
  }

  #ourservices .svc-img-2 {
    display: flex;
    padding-left: 90px;
  }
}

@media (max-width: 414px) {
  #ourservices h1 {
    text-align: center;
    padding-left: 40px;
    width: 350px;
    line-height: 40px;
  }

  #ourservices p {
    text-align: center;
    padding-left: 0px;
    width: 380px;
    line-height: 23px;
  }

  #ourservices ul li {
    padding-top: 10px;
    padding-left: 30px;
  }

  #ourservices .svc-img {
    display: none;
    margin-left: 0px !important;
    padding-left: 0px !important;
  }

  #ourservices .svc-img-2 {
    display: flex;
    padding-left: 20px;
  }
  .item .card {
    background-color: #f1f3ff;
    border-radius: 8px;
  }
  
  .card-content-bintang {
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 153px;
  }
  
  .testimonial-p {
    font-weight: 300;
    width: auto;
    font-size: 11px;
    line-height: 20px;
    padding-left: 20px;
  }

  .testimonial-name {
    font-weight: 400;
    width: auto;
    font-size: 12px;
    line-height: 20px;
    padding-left: 70px;
  }
  
  .card-body {
    padding-left: 0px;
  }
  
  .testimonial-img {
    margin-left: 85px;
    max-width: 80px;
    max-height: 80px;
    object-fit: contain;
  }

  .cta-h1 {
    font-size: 24px !important;
    font-weight: 400;
  }

  .section-p{
    width: 300px !important;
    position: absolute;
    left: 30px !important;
  }

#section-faq h1 {
  text-align: center;
}

.faq-p {
  text-align: center;
}
}

@media (max-width: 412px) {
  #ourservices h1 {
    text-align: center;
    padding-left: 40px;
    width: 350px;
    line-height: 40px;
  }

  #ourservices p {
    text-align: center;
    padding-left: 0px;
    width: 380px;
    line-height: 23px;
  }

  #ourservices ul li {
    padding-top: 10px;
    padding-left: 30px;
  }

  #ourservices .svc-img {
    display: none;
    margin-left: 0px !important;
    padding-left: 0px !important;
  }

  #ourservices .svc-img-2 {
    display: flex;
    padding-left: 20px;
  }

  #section-whyus h1 {
    text-align: center;
    padding-bottom: 5px;
  }

  #section-whyus .whyus-p {
    text-align: center;
  }
}

@media (max-width: 360px) {
  #ourservices h1 {
    text-align: center;
    padding-left: 10px;
    width: 320px;
    line-height: 40px;
  }

  #ourservices p {
    text-align: center;
    padding-left: 10px;
    width: 320px;
    line-height: 23px;
  }

  #ourservices ul li {
    padding-top: 10px;
    padding-left: 10px;
  }

  #ourservices .svc-img {
    display: none;
    margin-left: 0px !important;
    padding-left: 0px !important;
  }

  #ourservices .svc-img-2 {
    width: 95%;
    display: flex;
    padding-left: 25px;
  }

  .item .card {
    background-color: #f1f3ff;
    border-radius: 8px;
  }
  
  .card-content-bintang {
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 153px;
  }
  
  .testimonial-p {
    font-weight: 300;
    width: auto;
    font-size: 11px;
    line-height: 20px;
    padding-left: 20px;
  }

  .testimonial-name {
    font-weight: 400;
    width: auto;
    font-size: 12px;
    line-height: 20px;
    padding-left: 70px;
  }
  
  .card-body {
    padding-left: 0px;
  }
  
  .testimonial-img {
    margin-left: 85px;
    max-width: 80px;
    max-height: 80px;
    object-fit: contain;
  }

  .cta-h1 {
    font-size: 24px !important;
    font-weight: 400;
  }

  .section-p{
    width: 300px !important;
    position: absolute;
    left: 30px !important;
  }

#section-faq h1 {
  text-align: center;
}

.faq-p {
  text-align: center;
}

}

@media (max-width: 375px) {
  #ourservices h1 {
    text-align: center;
    padding-left: 10px;
    width: 320px;
    line-height: 40px;
  }

  #ourservices p {
    text-align: center;
    padding-left: 10px;
    width: 320px;
    line-height: 23px;
  }

  #ourservices ul li {
    padding-top: 10px;
    padding-left: 10px;
  }

  #ourservices .svc-img {
    display: none;
    margin-left: 0px !important;
    padding-left: 0px !important;
  }

  #ourservices .svc-img-2 {
    width: 95%;
    display: flex;
    padding-left: 25px;
  }

  .item .card {
    background-color: #f1f3ff;
    border-radius: 8px;
  }
  
  .card-content-bintang {
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 153px;
  }
  
  .testimonial-p {
    font-weight: 300;
    width: auto;
    font-size: 11px;
    line-height: 20px;
    padding-left: 20px;
  }

  .testimonial-name {
    font-weight: 400;
    width: auto;
    font-size: 12px;
    line-height: 20px;
    padding-left: 70px;
  }
  
  .card-body {
    padding-left: 0px;
  }
  
  .testimonial-img {
    margin-left: 85px;
    max-width: 80px;
    max-height: 80px;
    object-fit: contain;
  }

  .cta-h1 {
    font-size: 24px !important;
    font-weight: 400;
  }

  .section-p{
    width: 300px !important;
    position: absolute;
    left: 30px !important;
  }

    #section-faq h1 {
      text-align: center;
    }

    .faq-p {
      text-align: center;
    }
}